
 nav {
    display: flex;
    align-items: center;
    background-color: #ffff;
  }
  
.menu li{
    list-style: none;
    margin-left: 2rem;
}
  .logo{
    margin-left: 5rem;
    color: #007FED;
  }
  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 72%;
    
  }
  
 
  
  
  
  